.mds-display-none{
    display: none;
}
ul{
    list-style: none;
}
li{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mds-popup{
    height: 180px;
    width: 280px;
    background-color: #fff;
    border-radius: 16px;
    position: absolute;
    top: 263px;
    left: 38px;
}
.mds-popup-title--text{
    font-size: 21px;
    font-weight: bold;
    margin-top: 27px;
    margin-left: 28px;
    margin-bottom: 0px;
}
.mds-popup-supporting--text{
    font-size: 16px;
    margin-left: 31px;
    margin-top: 17px;
}