body{
    background-color: #f4f4f4e1;
    font-family: 'Roboto', sans-serif;
    margin-top: 42px;
    font-size: 16px;
}
.mds-outline{
    height: 800px;
    width: 500px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    background-color: gray;
    border-radius: 1%;
}
.mds-container{
    position:relative;
    background-color: #fff;
    height: 780px;
    width: 480px;
    margin: 0 auto;
    transition: 0.5s;
    border-radius: 1%;
}
.mds-header{
    width: 100%;
    height: 80px;
    border-bottom: 2px solid gray;
    display: flex;
    align-items: center;
}
.mds-menu-icon{
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    left: 10px;
}
.mds-header-text{
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    left: 60px; 
}
.mds-scroll{
    width: 100%;
    height: 670px;
    overflow: auto;
}
.mds-scroll-main{
    position: relative;
    width: 100%;
    height: 100%;
}
.mds-start-button{
    position: absolute;
    top: 57%;
    left: 37%;
    background-color: gray;
    color:black;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
.mds-start-button:hover{
    background-color: lightslategray;
    color: white;
}
.mds-done-button{
    left: 42%;
    background-color: gray;
    color: black;
    font-weight: bold;
    position: absolute;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 42px;
}
.mds-done-button:hover{
    background-color: lightslategray;
    color: white;
}
.mds-display-none{
    display: none;
}
h3{
    margin-left: 25px;
    margin-top: 13px;
}
h2 {
    font-size: 17px;
    margin-left: 25px;
    margin-right: 25px;
}
ul {
    list-style-type: none;
}
li {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.numberClass, .categoryClass{
    display: inline;
    font-size: 16px;
}
.categoryClass{
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
}
p{
    margin-left: 46px;
    font-size: 16px;
    font-weight: bold;
}
.mds-radio-input{
    height: 20px;
    width: 20px;
    opacity: 0.01;
    z-index: 1;
    cursor: pointer;
    position: absolute;
}
.mds-radio-border {
    display: block;
    width: 20px;
    height: 20px;
    border:2px solid gray;
    border-radius: 50%;
    position: absolute;
    transition: 120ms ease-in-out;
}
.mds-radio-toogle {
    display: block;
    left: 5px;
    top: -0.3px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: relative;
    background-color: rgb(50, 54, 65);
    opacity: 0.01;
    transition: 120ms ease-in-out;
}
.mds-radio-input:checked ~ .mds-radio-border{
    border: 2px solid rgb(50, 54, 65);
}
  
.mds-radio-input:checked ~.mds-radio-toogle{
    opacity: 1;
}
.mds-modal{
    height: 180px;
    width: 280px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 263px;
    left: 38px;
}
.mds-modal-title{
    font-size: 21px;
    margin-top: 27px;
    margin-left: 28px;
    margin-bottom: 0px;
}
.mds-modal-description{
    font-size: 16px;
    color: lightslategray;
    margin-left: 31px;
    margin-top: 17px;
}
.mds-modalChoice{
    display: flex;
    height: 50px;
    justify-content: flex-end;
}
.mds-modalChoice-restartBtn, .mds-modalChoice-closeBtn{
    margin-right: 20px;
    margin-top: 13px;
    cursor: pointer;
}

.mds-menubar{
    height: 780px;
    width: 0px;
    transition: .5s;
    top: 0px;
    z-index: 10000;
    overflow-x: hidden;
    background-color: #fff;
}
.mds-menubar-title{
    width: 100%;
    height: 200px;
    border-bottom: 2px solid gray;
}
.mds-menubar-list{
    width: 100%;
    height: 100px;
}
.mds-menubar-listitem{
    width: 100%;
    height: 60px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}
/* .mds-meunubar-radio{
    overflow:auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
} */

.mds-menubar-listitem:hover{
    background-color: lightgray; 
}
.mds-menubar-title-text{
    font-size: 20px;
    padding-left: 25px;
    padding-top: 84px;
    margin: 0;
}
.mds-menubar-title-info{
    padding-left: 25px;
    margin-top: 8px;
}

.mds-stats{
    position: relative;
    width: 100%;
    height: 100%;
}
.mds-stats-box{
    height: 80px;
    width: 280px;
    
}
.mds-stats-title{
    font-weight: bold;
    margin-left: 25px;
    padding:0;
}
.mds-stats-text{
    margin-left: 28px;
    font-size: 28px;
}
.mds-about {
    position: relative;
    width: 100%;
    height: 100%;
}
.mds-about-text{
    margin: 30px;
    font-size: 18px;
}