.mds-display-none{
    display: none;
}
ul{
    list-style: none;
}
li{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* .numberQuestion{
    display: flex;
    flex-direction: row;
    align-items: center;
} */